@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
  }

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*, *:before {
box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

}


html {
  height: 100%;
  min-width: 1200px;
  background: #F2F2F2;
}

.page-header {
  background-color: #FFFFFF;
  color: #000000;
  position: relative;
  padding: 0 70px;
  height: 64px;
}

.logo {
 width: 140px;
 position: absolute;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-left: 160px;

}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
}

.navigation-user {
  margin-left: auto;
  display: flex;
  list-style-type: none;
  justify-content: space-between;

}

.navigation-user .navigation-link {
  min-width: 44px;
  min-height: 64px;
}

.navigation-link {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color:#000000;
  text-align: center;
  text-decoration: none;
  padding: 20px 16px;
  display: block;
}
.navigation-search {
  background-image: url("../images/header_icons/search.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: block;
  margin: 22px 12px;
}
.navigation-like {
  background-image: url("../images/header_icons/vector_like.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin: 22px 12px;
  display: block;
}
/*
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*/


.navigation-button {
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 34px;
  width: 160px;
  height: 36px;
  margin-left: 20px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-right: 0;
  display: block;
  align-items: center;
  justify-content: center;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.main-image {
  background-image: url("../images/vector_main_page.svg"), url("../images/index_background.jpg");
  background-position: center bottom, center;
  background-color: #81B3D3;
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  height: 485px;
  width: 1200px;
  text-align: center;
}

.main-logo {
  display: block;
  margin: 0 auto;
}

.advantages-container {
  margin: 0;
  padding: 0;
  height: 282px;
}

.advantages {
  margin: 0;
  padding: 0;
}

.main-heading {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0;
  margin: 69px 290px 0;
}
.main-text {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  text-decoration: none;
  text-transform: none;
  padding: 0;
  margin: 25px 275px 90px;
}

.advantages-item-blue {
  background-color: #82B3D3;
  color:#FFFFFF;
  width: 1200px;
  height: 384px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

.direction {
  flex-direction: row-reverse;
}

.advantages-list {
  margin: 0;
  padding: 0;
  text-align: center;
  color:#333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
  height: 384px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(131, 179, 211, 0.12);
}

.item-blue {
 border-color: #82B3D3;
}

.advantages-features {
 display: flex;
}

.advantages-title-white {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}
.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase
}
.advantages-description-white {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
}
.advantages-description {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  text-decoration: none;
  text-transform: none;
}
.main-sentence-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
.main-sentence-description {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  text-decoration: none;
  text-transform: none;
}

.sentence {
  height: 406px;
  padding: 96px 304px;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 50px 8px 50px;
  width: 376px;
  height: 52px;
  margin: 12px 108px;
}

.footer-social-container {
 display: flex;
 justify-content: space-between;
 gap: 20px;
 padding: 0 70px;
 align-items: center;
}

.footer-social {
 max-width: 192px;
 display: flex;
}

.contact-phone {
  width: 331px;
}

.footer-logo {
  width: 115px;
  height: 33px;
}

.page-footer {
  background-image: url("../images/footer_images.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 415px;
  background-size: 100% auto;
  background-position: center;
  color: #FFFFFF;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  align-items: center;
  display: grid;
}
.page-footer-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}
.page-footer-description {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
  text-align: center;
  font-style: normal;
  font-weight: 400;
}
.contact-phone {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: 400;
  color: #000000;
}
.inner-header-image {
  background-image: url("../images/main_catalog.jpg");
  background-color: #81B3D3;
  background-repeat: no-repeat;
  background-position: center;
  height: 412px;
  width: 1200px;
  padding: 35px 70px 70px;
  color: white;
}
.catalog-list-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}
.catalog-property-more {
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 50px;
  width: 140px;
  height: 36px;
}
.catalog-property-button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #82B3D3;
  border-radius: 4px;
  width: 140px;
  height: 36px;
}
.catalog-property-rating {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
  border-radius: 4px;
  width: 140px;
  height: 37px;
  position: absolute;
}
.catalog-property-type {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  color: #333333;
  text-transform: none;
}
.catalog-property-price {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: right;
  color: #333333;
  text-transform: none;
}
 .paginatation a {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  background-color: #82B3D3;
  border-radius: 4px;
  width: 60px;
  height: 60px;
}
